body {
    background-color: rgb(230, 174, 174);
    font-family: "Times New Roman", georgia, serif;
}

h1,
.image,
p,
.anchor,
h2 {
    text-align: center;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

img {
    height: auto;
    width: 500px;
}

p {
    font-size: 20px;
}

ul,
ol {
    font-size: 20px;
}

.anchor {
    color: green;
    background-color: rgb(194, 194, 194);
}


